@import "tailwindcss";
@import "material-symbols/outlined.css";

/* 
sm	 (640px)
md	 (768px)	
lg	 (1024px)	
xl   (1280px)	
2xl  (1536px) 
*/

html,
body {
  min-height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

@theme {
  --font-dm-sans: "DM Sans", "sans-serif";
  --font-logo: "Cookie", "cursive";
}

body {
  width: 100%;
  max-width: 1390px;
  min-height: 100vh;
  margin: auto;
  position: relative;
}

textarea::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

textarea::-webkit-scrollbar-thumb {
  background: oklch(87% 0 0); /* cor botão */
  border-radius: 6px;
}
textarea {
  scrollbar-width: thin; /* Opções: auto | thin | none */
  scrollbar-color: oklch(87% 0 0) #ffffff00; /*botão | fundo */
}

div {
  scrollbar-width: none;
}
div::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

@layer components {
  div {
    @apply rounded-md;
  }
  button {
    @apply leading-none font-medium capitalize transition-colors duration-200 cursor-pointer 
    text-[1.012em] sm:text-[1.013em] md:text-[1.014em] lg:text-[1.015em] xl:text-[1.016em] 2xl:text-[1.017em];
  }
  img {
    transition: order 0.5s ease height 0.2s ease width 0.2s ease;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply cursor-default;
  }
}
