@import "tailwindcss";
@import "material-symbols/outlined.css";

/* 
sm	 (640px)
md	 (768px)	
lg	 (1024px)	
xl   (1280px)	
2xl  (1536px) 
*/

html,
body {
  min-height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

@theme {
  --font-dm-sans: "DM Sans", "sans-serif";
  --font-logo: "Cookie", "cursive";
  /* Shadows */
  --shadow-soft: 0 8px 24px -6px hsla(330, 20%, 30%, 0.15);
  /* --shadow-soft-soft: 0 4px 12px -3px rgba(60, 75, 90, 0.1); */
  --shadow-soft-soft: 0 4px 12px -3px oklch(20.992% 0.03416 263.451 / 0.1);
  /* remover mais tarde */
  --shadow-special-selections: inset 0 8px 24px -6px oklch(100% 0.00011 271.152), inset
    0 -8px 24px -6px oklch(20.992% 0.03416 263.451 / 0.02);

  --shadow-gray-50: 0 8px 24px -6px hsla(330, 20%, 30%, 0.094);
  --shadow-soft-hover: 0 4px 16px hsla(340, 82%, 67%, 0.3);
  --shadow-card: 0 2px 8px hsla(0, 0%, 0%, 0.08);
  --shadow-hover: 0 8px 24px hsla(0, 0%, 0%, 0.12);

  --j-center: justify-center;
}

body {
  width: 100%;
  max-width: 1390px;
  min-height: 100vh;
  margin: auto;
  position: relative;
}
p {
  cursor: default;
}
textarea::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

textarea::-webkit-scrollbar-thumb {
  background: oklch(87% 0 0); /* cor botão */
  border-radius: 6px;
}
textarea {
  scrollbar-width: thin; /* Opções: auto | thin | none */
  scrollbar-color: oklch(87% 0 0) #ffffff00; /*botão | fundo */
}

div {
  scrollbar-width: none;
}
div::-webkit-scrollbar {
  width: 0;
  height: 0;
  visibility: hidden;
}

@layer components {
  div {
    @apply rounded-md;
  }
  textarea {
    @apply focus:outline-none font-light text-neutral-950 bg-neutral-100;
  }
  button {
    @apply leading-none font-medium capitalize transition-[background-color] duration-200 cursor-pointer rounded-md
    flex justify-start items-center gap-3 h-10 w-auto bg-gray-100 hover:bg-gray-200 px-6 
    text-[1.012em] sm:text-[1.013em] md:text-[1.014em] lg:text-[1.015em] xl:text-[1.016em] 2xl:text-[1.017em];
  }
  input {
    @apply block w-full h-10 pl-[13px] text-[1.033em] font-light text-neutral-900 bg-neutral-100 !border-none rounded-md box-border focus:outline-none;
  }
  img {
    transition: order 0.5s ease height 0.2s ease width 0.2s ease;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply cursor-default;
  }
}
