@import "tailwindcss";
@import "material-symbols/outlined.css";
@import "./globals.css";

/* sombras */
.heart-button-shadow {
  box-shadow: 0 8px 24px -6px hsla(329, 20%, 30%, 0.094);
}

/* icones  */
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "GRAD" 0, "opsz" 24;
}
.line-span {
  @apply [font-variation-settings:'FILL'_0];
}
.zoom-in-span {
  @apply scale-110;
}
.zoom-out-span {
  @apply scale-90;
}

.wrapper-icon {
  @apply h-full min-w-max flex items-center justify-center;
}

/* divs */
.basic-card-style {
  @apply bg-white shadow-soft hover:shadow-soft-hover px-6 pt-4 pb-7 mb-6 
  rounded-lg box-border transition-shadow duration-200;
}

/* hs */
.home-h1 {
  @apply capitalize tracking-normal text-center text-[1.380em];
}
.h3-sizes {
  @apply font-medium text-[1.090em];
}
.h4-sizes {
  @apply text-[1.010em];
}

/* estilos de Ps */

.p-landing-page {
  @apply text-gray-800 font-normal text-[1.07em];
}
.small-p {
  @apply text-[0.96em];
}
.p-title {
  @apply text-gray-800 text-left text-[1.190em];
}

.input {
  @apply block w-full h-10 pl-[13px] pb-[2px] text-[1.033em] font-light 
  text-neutral-900 bg-neutral-100 !border-none rounded-md box-border focus:outline-none;
}
.light-button {
  @apply bg-gray-50 hover:bg-gray-200/60 transition-colors duration-200;
}
.white-button {
  @apply bg-white hover:bg-gray-50 transition-colors duration-200;
}

.ring-style {
  @apply outline-none ring-2 ring-blue-300 bg-blue-50 hover:bg-blue-100/50 
  text-blue-700 shadow-soft;
}

.p-button {
  @apply text-[1.012em];
}
.p-small-button {
  @apply leading-none font-medium tracking-normal capitalize transition-colors duration-200 cursor-pointer 
  text-[0.965em];
}
.square-button {
  @apply h-10 w-10 flex justify-center items-center gap-3 rounded-md text-gray-800 bg-gray-100 
  hover:bg-gray-200 transition-colors duration-200 cursor-pointer;
}
