@import "tailwindcss";
@import "../globals.css";

@layer base {
  h1 {
    @apply text-gray-900 font-semibold text-left text-[1.400em] sm:text-[1.415em] 
        md:text-[1.422em] lg:text-[1.436em] xl:text-[1.450em] 2xl:text-[1.464em];
  }
  h2 {
    @apply w-full mb-6 font-h font-normal text-center text-neutral-500 text-[1.040em] 
    sm:text-[1.046em] md:text-[1.049em] lg:text-[1.054em] xl:text-[1.06em] 2xl:text-[1.066em] cursor-default;
  }
  p,
  label {
    @apply text-gray-800 text-[1.125em] sm:text-[1.132em] md:text-[1.136em] 
    lg:text-[1.143em] xl:text-[1.150em] 2xl:text-[1.157em] cursor-default;
  }
  p {
    @apply font-p;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-h;
  }
  input,
  textarea {
    @apply text-neutral-800 text-[1.150em] sm:text-[1.154em] md:text-[1.157em] 
    lg:text-[1.161em] xl:text-[1.165em] 2xl:text-[1.169em];
  }
  div {
    @apply rounded-sm;
  }
  button {
    @apply font-h rounded-sm text-[1.025em] sm:text-[1.028em]
    md:text-[1.029em] lg:text-[1.032em] xl:text-[1.035em] 2xl:text-[1.038em] tracking-wide;
  }
  section {
    @apply w-full border-b-2 border-gray-300 pt-7 pb-10;
  }
  img {
    @apply font-p;
    transition: order 0.5s ease height 0.2s ease width 0.2s ease;
  }
}
