@import 'tailwindcss';
@import 'material-symbols/rounded.css';

/* sm: 640px; md: 768px; lg: 1024px; xl: 1280px; 2xl: 1536px; */
@theme {
  /* Fonts */
  --font-default: 'DM Sans', 'sans-serif';
  --font-logo: 'Cookie', 'cursive';
  /* Tamanhos de fonte */
  --text-xs: 0.790123em;
  --text-sm: 0.888889em;
  --text-base: 1em;
  --text-lg: 1.125em;
  --text-h6: 1.125em;
  --text-h5: 1.265625em;
  --text-h4: 1.423828em;
  --text-h3: 1.601807em;
  --text-h2: 1.802032em;
  --text-h1: 2.027287em;
  --text-h1-hero: 2.28em;
  --text-button: 0.943em;
  --text-sm-button: 0.888em;
  --text-lg-button: 1em;
  --spacing-cap-offset: calc(1cap - ((1em - 1cap) / 2));
  --spacing-ex-offset: calc(1ex - ((1em - 1cap) / 2));
  /* Shadows */
  --shadow-xs: 0 1px 3px -1px hsla(330, 24%, 30%, 0.06);
  --shadow-sm: 0 4px 8px -4px hsla(330, 23%, 30%, 0.11);
  --shadow-lg: 0 8px 26px -6px hsla(330, 20%, 30%, 0.12);
  --shadow-md: 0 6px 16px -5px hsla(330, 22%, 30%, 0.115);
  --shadow-xl: 0 14px 38px -8px hsla(330, 18%, 30%, 0.14);
  --shadow-lg-hover: 0 4px 16px -7px hsla(330, 20%, 67%, 0.6);
  --shadow-favorite-button: 0 8px 24px -6px hsla(329, 20%, 30%, 0.094);
  --shadow-home-sections:
    inset 0 8px 24px -6px hsl(0, 0%, 100%), inset 0 -8px 24px -6px hsla(330, 43%, 11%, 0.02);
  --shadow-accent: 0 4px 14px -5px hsla(200, 70%, 40%, 0.25); /* azul */
  --shadow-green-soft: 0 6px 20px -8px #2d53462e; /* verde-pinho */
  /* cores */
  --color-theme: #c81e72;
  --color-theme-50: #fdeff3;
  --color-theme-100: #fadee7;
  --color-theme-200: #f4becf;
  --color-theme-300: #ec9db7;
  --color-theme-400: #e27ba1;
  --color-theme-500: #d7578b;
  --color-theme-600: #c81e72 /*Sua cor*/;
  --color-theme-700: #ac005b;
  --color-theme-800: #8b0042;
  --color-theme-900: #6b002a;
  --color-theme-950: #5b001e;
  --color-theme-1000: #4c0013;
  --color-male-theme: #7119a8;
  /* neutras */
  --color-light-bg: #fff;
  --color-medium-bg: hsl(357, 20%, 98%);
  --color-dark-bg: hsl(357, 20%, 96.68%);
  --color-card-foreground: hsl(345 18% 17.5%);
  --color-muted-foreground: hsl(345 10.57% 38%);
  --color-border: hsl(345 6.29% 83%);
  --color-input-border: hsl(345 9.71% 68.5%);
  --color-input-bg: hsl(345 4.86% 96.5%);
  /* primária */
  --color-primary-50: #f5f0f2;
  --color-primary-100: #ebe1e5;
  --color-primary-200: #d8c4cc;
  --color-primary-300: #c4a7b3;
  --color-primary-400: #b08c9b;
  --color-primary-500: #9d7084;
  --color-primary-600: #89566d;
  --color-primary-700: #723754;
  --color-primary-800: #5c2340;
  --color-primary-900: #420929;
  --color-primary-950: #36001f;
  --color-primary-1000: #2b0015; 
 
  /* cores de estados */
  --color-yellow: #f5d43b;
  --color-yellow-hover: hsl(49, 90%, 50%);
  --color-success-50: #e9f9ea;
  --color-success-100: #d3f3d5;
  --color-success-200: #a6e5ac;
  --color-success-300: #74d784;
  --color-success-400: #1ec757 /*Sua cor*/;
  --color-success-500: #00aa3c;
  --color-success-600: #008a1e;
  --color-success-700: #006c00;
  --color-success-800: #004e00;
  --color-success-900: #003300;
  --color-success-950: #002a00;
  --color-success-1000: #002300;
  --color-green: #2fbf71;
  --color-green-hover: #20915d;
  --color-red: #e5464f;
  --color-red-hover: #c23c41;
  /* Breakpoints */
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 375px;
  --breakpoint-md-sm: 430px;
  --breakpoint-pre-sm: 576px;
  --breakpoint-pre-md: 704px;
  --breakpoint-next-md: 840px;
  --breakpoint-pre-lg: 932px;
}

.male-palette {
  --color-card-foreground: hsl(236 17% 19%);
  --color-muted-foreground: hsl(236 9.71% 41%);
  --color-border: hsl(236 5.86% 86%);
  --color-input-border: hsl(236 9.14% 70.6%);
  --color-input-bg: hsl(236 4.57% 97.4%);
  /* primária */
  --color-primary-50: #f3f0f4;
  --color-primary-100: #e6e2e8;
  --color-primary-200: #cec6d2;
  --color-primary-300: #b7aabd;
  --color-primary-400: #9f8fa7;
  --color-primary-500: #897592;
  --color-primary-600: #725c7e;
  --color-primary-700: #5c446a;
  --color-primary-800: #432853;
  --color-primary-900: #2f163f;
  --color-primary-950: #240b34;
  --color-primary-1000: #1b0028;
}

@layer base {
  * {
    @apply [&>svg]:shrink-0;
    cursor: default;
    box-sizing: border-box;
    border-color: var(--color-border);
    outline-color: var(--color-border);
    font-family: var(--font-default);
    /* scrollbar */
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }
  *::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }
  *::-webkit-scrollbar-thumb {
    background: var(--color-border);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-200) !important;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }

  /* remover scrollbar da página */
  html::-webkit-scrollbar,
  body::-webkit-scrollbar,
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  html,
  body,
  .scrollbar-hidden {
    scrollbar-width: none;
  }
  body {
    @apply bg-medium-bg text-card-foreground relative w-full max-w-[1400px] mx-auto;
  }
  button {
    user-select: none;
    position: relative;
  }
}

.is-resizing * {
  transition: none !important;
}

